@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


.font-family-size {
    font-size: 50px;
    font-family: "Anton SC", sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.line-height {
    line-height: 3;
}

.letter-spacing {
    letter-spacing: 4px;
}

.text-shadow {
    text-shadow: 5px 2px 5px red;
}